/* 全体のスタイル設定 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #c1e4e9, #f3f3f2);
}

#all-container {
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    max-width: 600px;
    width: 90%;
    text-align: center;
}

/* タイトル */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* 指示部分 */
.instructions {
    font-size: 20px;
    color: #555;
    margin-bottom: 0px;
}

/* テーマ部分 */
#theme {
    font-size: 24px;
    /*font-weight: bold*/
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    /* テーマの色を設定 */
    margin-bottom: 20px;
}

/* カード番号のスタイル */
#card-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

/* ボタンのスタイル */
button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* ボタンにホバーした時の効果 */
button:hover {
    background-color: #2980b9;
    /* ホバー時の色 */
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
    #all-container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 28px;
    }

    .instructions {
        font-size: 18px;
    }

    #card-number {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 10px 16px;
    }
}